.page-not-found {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.page-not-found-img {
  width: 400px;
}

.page-not-found-btn {
  margin: 1.8rem;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  font-weight: 550;
  cursor: pointer;
  color: rgb(63, 81, 181);
}

.page-not-found-btn:hover {
  border: 2px solid rgb(63, 81, 181);
  background: transparent;
  color: var(--text-color);
}

.page-not-found-text {
  color: var(--text-color);
  text-align: center;
}

@media (max-width: 425px) {
  .page-not-found-img {
    width: 300px;
  }
}
